section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

mat-list-item {
  border: 1px solid rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.87);
  background-color: white;
  font-size: 14px;
  margin: 3px 0 3px -12px;
  padding: 0;
  height: 70px;
  width: 400px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

mat-list-item:hover {
  box-shadow: 0 24px 38px 3px rgba(0,0,0,.14),
  0 9px 46px 8px rgba(0,0,0,.12);
}

.buttons-fab {
  display: block;
  height: 170px;
  width: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.buttons-fab button {
  transition: bottom 0.2s;
}

.buttons-fab:hover .button-add {
  bottom: 90px;
}
